@page "/choosewarrior"

@using BlazorApp1.Data
@inject BlazorApp1.Application.Contracts.IFightService FightService

<h1>Choose warriors!</h1>

@if (!combatReady)
{
    @if (!playersPresent)
    {
        <label>Players missing for this game!</label>
    }
    else
    {
            <table with="70%" class="form-group">
                <tr>
                    <td>
                        <p>
                            <label>Player 1: @playerOne.Nickname</label>
                        </p>
                    </td>
                    <td>
                        <p>
                            <label>Player 2: @playerTwo.Nickname</label>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <label>Select warrior</label>
                        </p>
                        @foreach (var item in warriors)
                        {
                            <p>
                                <button class="btn btn-primary" @onclick="@(() => W1Selected(@item))">Select</button>
                                <label>@item.Name - @item.Class</label>
                            </p>
                        }
                        <p>@selectedWarriorOne.Name - @selectedWarriorOne.Class</p>
                    </td>

                    <td>
                        <p>
                            <label>Select warrior</label>
                        </p>
                        @foreach (var item in warriors)
                        {
                            <p>
                                <button class="btn btn-primary" @onclick="@(() => W2Selected(@item))">Select</button>
                                <label>@item.Name - @item.Class</label>
                            </p>
                        }
                        <p>@selectedWarriorTwo.Name - @selectedWarriorTwo.Class</p>
                    </td>
                </tr>

            </table>
    }
}

    @if (combatReady)
    {

        <h1>Combat!</h1>
    <table with="70%" class="form-group">
        <tr>
            <td>
                <p>
                    <label>@playerOne.Nickname - @selectedWarriorOne.Name</label>
                </p>
            </td>
             
            <td>
                <p>
                    <label>@playerTwo.Nickname - @selectedWarriorTwo.Name</label>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <label>Defense: @selectedWarriorOne.Defense</label>
                </p>
            </td>

            <td>
                <p>
                    <label>Defense: @selectedWarriorTwo.Defense</label>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <label>Strength: @selectedWarriorOne.Strength</label>
                </p>
            </td>

            <td>
                <p>
                    <label>Strength: @selectedWarriorTwo.Strength</label>
                </p>
            </td>
        </tr>

        <tr>
            <td>
                @if (isPlayerOneDead)
                {
                    <p><label>Dead!</label></p>
                }
                else
                {
                    <p>
                        <button class="btn btn-danger" @onclick="AttackP1">Attack</button>
                    </p>
                }
            </td>

            <td>
                @if (isPlayerTwoDead)
                {
                    <p><label>Dead!</label></p>
                }
                else
                {
                    <p>
                        <button class="btn btn-danger" @onclick="AttackP2">Attack</button>
                    </p>
                }
            </td>
        </tr>

    </table>
    }


@code {

    BlazorApp1.DataAccess.Entities.Game game;

    BlazorApp1.DataAccess.Entities.Player playerOne;
    BlazorApp1.DataAccess.Entities.Player playerTwo;

    BlazorApp1.DataAccess.Entities.Warrior selectedWarriorOne = new DataAccess.Entities.Warrior();
    BlazorApp1.DataAccess.Entities.Warrior selectedWarriorTwo = new DataAccess.Entities.Warrior();

    List<BlazorApp1.DataAccess.Entities.Warrior> warriors;

    List<BlazorApp1.DataAccess.Entities.Player> players;

    bool playersPresent = false;
    bool playerOneMissing = true;
    bool playerTwoMissing = true;

    bool isPlayerOneDead = false;
    bool isPlayerTwoDead = false;

    bool combatReady = false;

    protected override async Task OnInitializedAsync()
    {
        game = FightService.GetLastGame();
        players = FightService.GetPlayersLastGame(game);

        if (players != null && players.Count == 2 )
        {
            playersPresent = true;

            playerOne = players.ElementAt(0);
            Console.WriteLine(playerOne.Nickname);
            playerTwo = players.ElementAt(1);
            Console.WriteLine(playerTwo.Nickname);
        }
        warriors = await FightService.GetAllWarriors();
    }

    private async Task W2Selected(BlazorApp1.DataAccess.Entities.Warrior w)
    {
        selectedWarriorTwo = w;
        await FightService.SelectWarrior(playerTwo, selectedWarriorTwo);
        playerTwoMissing = false;

        CheckCombatReady();
    }

    private async Task W1Selected(BlazorApp1.DataAccess.Entities.Warrior w)
    {
        selectedWarriorOne = w;
        await FightService.SelectWarrior(playerOne, selectedWarriorOne);
        playerOneMissing = false;

        CheckCombatReady();
    }

    private void CheckCombatReady()
    {
        combatReady = !playerTwoMissing && !playerOneMissing;
    }

    public async Task AttackP1()
    {
        selectedWarriorTwo = await FightService.Attack(playerOne.Warrior, playerTwo.Warrior);

        isPlayerTwoDead = selectedWarriorTwo.Defense <= 0;
    }

    public async Task AttackP2()
    {
        selectedWarriorOne = await FightService.Attack(playerTwo.Warrior, playerOne.Warrior);

        isPlayerOneDead = selectedWarriorOne.Defense <= 0;
    }
}
